:root {
    --blue-color: rgb(75, 75, 247);
    --cartoon-font: "Comic Sans MS", cursive, sans-serif;
    --formal-font: "Courier New", Courier, monospace;
    --fantasy-font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    ;
    --gradient-gray: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(233, 233, 233, 1) 100%);
}

html {
    color: var(--blue-color);
    font-family: var(--cartoon-font);
}

body {
    margin: 0px;
}

.imp {
    max-width: 100%;
    max-height: 70vh;
}

.content-scroll {
    font-family: var(--formal-font);
    background: url('../src/img/back_cover_black.png') no-repeat center;
    background-size: cover;
}

.headertext {
    font-size: 1.4em;
    text-align: center;
    font-weight: bold;
    color: darkgreen;
    font-family: var(--fantasy-font);
    white-space: nowrap;
}

@media (max-width: 570px) {
    .headertext {
        white-space: initial;
    }
}