@charset "UTF-8";
$a4-width: 21cm;
$a4-height: 29.7cm;
$page-h-margin: 30mm;
$page-v-margin: 45mm;
$page-h-padding: 3rem;
$page-right-padding: 2rem;
$page-left-padding: 4rem;
$section-left-width: 30%;
$section-right-width: 70%;

// @page {
//     size: $a4-width $a4-height;
//     margin: $page-h-margin $page-v-margin $page-h-margin $page-v-margin;
// }

@media print {
    ::-webkit-scrollbar {
        display: none;
    }


    // body * {
    //   visibility: hidden;
    // }
    // .page-content, .page-content * {
    //   visibility: visible;
    // }

    .page-content {
      position: absolute;
      left: 0;
      top: 0;
      height: $a4-height - 1;
    }
    html, body, .page-content {
      height: 100%; 
      margin: 0 !important; 
      padding: 0 !important;
      overflow: hidden;
      page-break-after: always;
    }
  }

.page-content {
    max-width: $a4-width;
    width: 100%;
    height: $a4-height;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    .page-content-paper {
        background-color: white;
        height: 100%;

        .page-section-header {
            width: 100%;

            .page-section-header-left {
                width: $section-left-width;

                .profile-pic {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        overflow: hidden;
                        transform: scale(2.25) translate(1.5rem, 1.5rem);
                    }
                }
            }

            .page-section-header-right {
                width: $section-right-width;
                padding: $page-h-padding $page-right-padding 0 3rem;
            }
        }

        .page-section-horizon-bar {
            background-color: lightsteelblue;
            width: 100%;
            height: 5rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }
        
        .page-section-left {
            background-color: lightblue;
            width: $section-left-width;
            padding: 1rem 0 $page-h-padding $page-left-padding;
        }
        
        .page-section-right {
            background-color: white;
            width: $section-right-width;
            padding: 1rem $page-right-padding $page-h-padding 3rem;
        }
    }
}

.background-pic {
    position: absolute;
    right: 1rem;
    height: 100vh;
    top: 1rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        opacity: 0.1;
        transition: 0.5s;
    }

    img:hover {
        opacity: 0.2;
    }
}

.update-info {
    position: fixed;
    right: 1rem;
    bottom: 2rem;
    text-align: right;
    color: #084298;
    opacity: 0.5;
    user-select: none;
}